ion-icon {
  font-size: 20px;
}

// ion-row.fixVideo{
//   top:5%;
//   bottom: 65%;
// }

/*background */
.line-bc {
  padding: 20px 10px;
  max-width: 450px;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
}

/*CP side comment*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceiconright {
  float: right;
  margin-left: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center center;
  // background-size:cover;
}
.balloon6 .faceiconright img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center center;
  // background-size:cover;
}

.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.balloon6 .chattingright {
  width: 100%;
  text-align: right;
  margin-left: -50px;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*Your comment*/
.mycomment {
  margin: 10px 0;
}
.mycommentmargin{
  margin-top:5px;
  margin-right: 42px;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background:white;
  font-size: 15px;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid white;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}


//loading bar
.ldBar {
  position: relative;
}
.ldBar.label-center > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0 0 3px #fff;
}
.ldBar-label:after {
  content: "%";
  display: inline;
}
.ldBar.no-percent .ldBar-label:after {
  content: "";
}

ion-footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}

ion-icon-footer {
  font-size: 40px;
}

.item-text-center
{
  display: block;
  margin: 0 0 0 auto;
}

.fixed-content {
  right: relative;
  left: relative;
  // top: 225px;
  top: 35%;
  width: 100%;
  margin: 15px auto;
  // bottom: 225px;
  bottom: 35.5%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:auto;
  background: rgba(255, 255, 255, 0.6);
}

// .scrollTop{
//   scroll-behavior: smooth;
// }

.bg-style {
  background: url(../../assets/icon/embarkbackground.png) 0 0/100% 100% no-repeat;
}