ion-icon {
    font-size: 20px;
  }
  /*background */
  .line-bc {
    padding: 20px 10px;
    max-width: 450px;
    margin: 15px auto;
    text-align: right;
    font-size: 14px;
  }
  /*CP side comment*/
  .balloon6 {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }
  .balloon6 .faceicon {
    float: left;
    margin-right: -50px;
    width: 40px;
  }
  .balloon6 .faceiconright {
    float: right;
    margin-left: -50px;
    width: 40px;
  }
  .balloon6 .faceicon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .balloon6 .faceiconright img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .balloon6 .chatting {
    width: 100%;
    text-align: left;
  }
  .balloon6 .chattingright {
    width: 100%;
    text-align: left;
    margin-left: -50px;
  }
  .says {
    display: inline-block;
    position: relative;
    margin: 0 0 0 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #edf1ee;
  }
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
  .says p {
    margin: 0;
    padding: 0;
  }
  .ion-button changecolor {
    margin: 100px;
    background-color: rgb(240, 87, 87);
  }
  .changecolor {
    margin: 100px;
    background-color: rgb(240, 87, 87);
  }
  /*Your comment*/
  .mycomment {
    margin: 10px 0;
  }
  .mycommentmargin {
    margin-top:5px;
    margin-right: 42px;
  }
  .mycomment p {
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 235px;
    border-radius: 12px;
    background: #ffffff;
    font-size: 15px;
  }
  .mycomment p:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -19px;
    border: 8px solid transparent;
    border-left: 18px solid #ffffff;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  //loading bar
  .ldBar {
    position: relative;
  }
  .ldBar.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px #fff;
  }
  .ldBar-label:after {
    content: "%";
    display: inline;
  }
  .ldBar.no-percent .ldBar-label:after {
    content: "";
  }
ion-footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
}
ion-icon-footer {
    font-size: 40px;
}
.fixed-content {
  right: relative;
  left: relative;
  top: 10%;
  width: 100%;
  margin: 15px auto;
  bottom: 35.5%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:auto;
  background: rgba(255, 255, 255, 0.6);
}
.user-option {
  top: 70%;
}
.bg-style {
  background: url(../../../assets/icon/embarkbackground.png) 0 0/100% 100% no-repeat;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
}
.gray {
  color: gray;
}
.marginLeft {
  margin-left: auto;
}
.mic {
  font-size: 35px;
  color: white;
}
.stop {
  font-size: 35px;
  color: red;
}
.fixed-content-bottom {
  right: relative;
  left: relative;
  top: 65%;
  bottom: 8%;
  position: fixed;
  padding: 0%;
  overflow-y: scroll;
  overflow-x: auto;
  width: 100%;
}
ion-button {
  width: 100%;
}
