/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin mobileExperience {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin desktopExperience {
  @media (min-width: 551px) {
    @content;
  }
}

@mixin safe-area-inset-top($padding-top) {
  padding-top: $padding-top;
  @supports (padding-top: unquote("max(0px)")) {
    padding-top: unquote("max(#{$padding-top}, env(safe-area-inset-top))");
  }
}


ion-button.shadow {
  min-width: 72px !important;
  border-radius: 36px;
  margin: 15px 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--light);
  color: var(--dark);

  .correct {
    color: var(--success);
  }
  ion-button ion-icon {
    font-size: 32px !important;
    padding: 0;
  }
}

.container {
  padding: 18px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  @include safe-area-inset-top(18px);
  @include desktopExperience {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}

.container::-webkit-scrollbar {
  display: none;
}

.container--home {
  $padding-top: 10px;
  padding: $padding-top 0 0 0;
  @include safe-area-inset-top($padding-top);
  @include desktopExperience {
    padding: $padding-top 18px 0 18px;
    max-width: 700px;
  }
}

.badge {
  background: transparent;
  position: relative;
  background-image: url(./assets/icon/badge.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 170px;
   .hot-air-balloon {
     margin: 0 auto;
     width: 50%;
     padding-top: 40px;
   }
}

.is-browser .badge,
.is-tablet .small-badge.badge {
  width: 165px;
  height: 189px;
   .hot-air-balloon {
     padding-top: 50px;
   }
}

.is-tablet .badge {
  width: 220px;
  height: 246px;
}